<template>
  <section class="wr">
    <form action="#">
      <input type="text" placeholder="Your phone number" v-model="phone">
      <a href="#" @click.prevent="authorize">Authenticate</a>
      
      <a href="#" @click.prevent="contactInit">Contact INIT</a>
      <a href="#" @click.prevent="contactSync">Sync Contact</a>
    </form>
    <!-- <p v-if="store.state">User: {{ store.state.user.user }}</p> -->
    <p>Confirmation msg: {{ conf }}</p>

    <!-- <p>Messages:</p>
    <ul>
      <li v-for="msg in messages">{{ msg }}</li>
    </ul> -->
  </section>
</template>

<script>
  import socket from '~/plugins/socket.io';

  export default {
    data: () => ({
      phone: null,
      phoneTwo: null,
      to: null,
      chatId: null,
      message: null,
      messages: [],
      conf: null,
      contacts: [
        '9804663998',
        '9674056555',
        '8910874220',
        '9830139122',
        '7676768202',
        '9433214732'
      ],
      totalContact: 6
    }),
    beforeMount() {
      socket.on('contact-sync', (data) => {
        console.log('Sync', data);
        _.remove(this.contacts, item => item === data.phone);
        console.log(this.contacts)
        // this.contactSync();
      });
      socket.on('contact-sync-init', (data) => {
        console.log('Init', data);
        // this.contactSync();
      });
      // socket.on('contact-request', (data) => {
      //   console.log(data);
      //   socket.emit('contact-sync', {
      //     phone: data.user.phone,
      //     from: this.$store.state.user.user._id
      //   });
      // });
      socket.on('conf-message', (data) => {
        this.conf = data;
      });
      // socket.on('chat-request', (data) => {
      //   // if (this.$store.state.user.user._id !== data.from) {
      //   //   this.to = data.from;
      //   // }
      //   // this.chatId = data.chatId;
      //   // this.messages.push({
      //   //   ...data
      //   // });
      //   console.log(data);
      // });
      // socket.on('message-received', (data) => {
      //   console.log(data);
      // });
      // socket.on('room-message', (data) => {
      //   socket.emit('message-received', {
      //     streamId: data.streamId,
      //     from: data.from,
      //     chatId: data.chatId
      //   });
      //   this.messages.push({
      //     ...data
      //   });
      // });
    },
    methods: {
      async authorize() {
        await this.$store.dispatch('user/USER_LOGIN', {
          phone: this.phone
        });
        socket.emit('user-join', { uid: this.$store.state.user.user._id });
      },
      chatInit() {
        socket.emit('chat-request', {
          to: [
            '5b23a25815c90f17cece1402'
          ],
          from: this.$store.state.user.user._id,
          content: this.message,
          chatType: 'group',
          group: 'test group'
        });
        this.message = '';
      },
      addPhone() {
        // socket.emit('contact-sync-init', {
        //   from: this.$store.state.user.user._id,
        //   total: 10
        // });
        // console.log('Contact sync init done');
        socket.emit('contact-sync', {
          phone: this.phoneTwo,
          from: this.$store.state.user.user._id
        });
      },
      contactInit() {
        socket.emit('contact-sync-init', {
          from: this.$store.state.user.user._id,
          totalContact: this.totalContact
        });
      },
      contactSync() {
        socket.emit('contact-sync', {
          phone: this.contacts[0],
          from: this.$store.state.user.user._id
        });
      },
      submit() {
        socket.emit('room-message', {
          to: this.to,
          from: this.$store.state.user.user._id,
          chatId: this.chatId,
          content: this.message
        });
        this.message = '';
      }
    }
  };
</script>

<style lang="postcss" scoped>

</style>
